In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('data/train_identity.csv.gz')

In [3]:
df2 = pd.read_csv('data/train_transaction.csv.gz')

In [4]:
df1.set_index('TransactionID',inplace=True)
df2.set_index('TransactionID',inplace=True)

In [5]:
df1.head()

,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,id_10,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
TransactionID,,,,,,,,,,,,,,,,,,,,,
2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,NaN,NaN,...,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
2987011,-5.0,221832.0,NaN,NaN,0.0,-6.0,NaN,NaN,NaN,NaN,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,NaN
2987016,0.0,7460.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,0.0,...,chrome 62.0,24.0,1280x800,match_status:2,T,F,T,T,desktop,MacOS

In [6]:
df1.info

<bound method DataFrame.info of                id_01     id_02  id_03  id_04  id_05  id_06  id_07  id_08  \
TransactionID
2987004          0.0   70787.0    NaN    NaN    NaN    NaN    NaN    NaN
2987008         -5.0   98945.0    NaN    NaN    0.0   -5.0    NaN    NaN
2987010         -5.0  191631.0    0.0    0.0    0.0    0.0    NaN    NaN
2987011         -5.0  221832.0    NaN    NaN    0.0   -6.0    NaN    NaN
2987016          0.0    7460.0    0.0    0.0    1.0    0.0    NaN    NaN
2987017         -5.0   61141.0    3.0    0.0    3.0    0.0    NaN    NaN
2987022        -15.0       NaN    NaN    NaN    NaN    NaN    NaN    NaN
2987038          0.0   31964.0    0.0    0.0    0.0  -10.0    NaN    NaN
2987040        -10.0  116098.0    0.0    0.0    0.0    0.0    NaN    NaN
2987048         -5.0  257037.0    NaN    NaN    0.0    0.0    NaN    NaN
2987049         -5.0  287959.0    NaN    NaN    1.0  -11.0    NaN    NaN
2987057          0.0   88525.0    NaN    NaN    NaN    NaN    NaN    NaN
2987066         -5.0   54927.0    0.0    0.0    0.0   -1.0    NaN    NaN
2987069          0.0   69542.0    0.0    0.0    2.0   -4.0    NaN    NaN
2987070          0.0  132356.0    NaN    NaN    1.0   -6.0    NaN    NaN
2987072          0.0  275611.0    NaN    NaN    0.0    0.0    NaN    NaN
2987074         -5.0  419136.0    NaN    NaN    0.0    0.0    NaN    NaN
2987084         -5.0  436352.0    NaN    NaN    0.0    0.0    NaN    NaN
2987093         -5.0   34810.0    NaN    NaN    1.0    0.0    NaN    NaN
2987099        -10.0  129080.0    0.0    0.0    9.0  -43.0   22.0  -34.0
2987100          0.0  264818.0    NaN    NaN    0.0    0.0    NaN    NaN
2987101          0.0   49557.0    0.0    0.0    0.0    0.0    NaN    NaN
2987104          0.0   30696.0    0.0    0.0    0.0    0.0    NaN    NaN
2987105          0.0  194580.0    NaN    NaN   12.0   -6.0    NaN    NaN
2987108        -15.0       NaN    NaN    NaN    NaN    NaN    NaN    NaN
2987111         -5.0  252899.0    NaN    NaN    0.0    0.0    NaN    NaN
2987114         -5.0  190935.0    0.0    0.0    6.0   -9.0    NaN    NaN
2987119          0.0   23923.0    0.0    0.0    0.0    0.0    NaN    NaN
2987121          0.0   18305.0    2.0    0.0    2.0    0.0    NaN    NaN
2987125          0.0   32876.0    2.0    0.0    2.0    0.0    NaN    NaN
...              ...       ...    ...    ...    ...    ...    ...    ...
3577354        -25.0  229668.0    0.0    0.0   -5.0  -20.0    NaN    NaN
3577364         -5.0  183132.0    NaN    NaN    0.0    0.0    NaN    NaN
3577365        -10.0  112037.0    0.0    0.0    1.0    0.0    NaN    NaN
3577368         -5.0  214747.0    NaN    NaN    0.0    0.0    NaN    NaN
3577384        -20.0   50886.0    0.0    0.0   13.0  -34.0   39.0 -100.0
3577397         -5.0  313942.0    0.0    0.0    0.0    0.0    NaN    NaN
3577410         -5.0  211823.0    NaN    NaN    6.0    0.0    NaN    NaN
3577418        -45.0  118160.0    NaN    NaN   10.0   -9.0    NaN    NaN
3577437         -5.0   72127.0    NaN    NaN    0.0    0.0    NaN    NaN
3577440         -5.0   76483.0    NaN    NaN    2.0    0.0    NaN    NaN
3577442        -20.0   89189.0    NaN    NaN    NaN    NaN   14.0  -24.0
3577445         -5.0  107251.0    0.0    0.0    6.0    0.0    NaN    NaN
3577447         -5.0   43053.0    0.0    0.0    0.0    0.0    NaN    NaN
3577451        -25.0  130543.0    NaN    NaN   -2.0  -33.0   12.0  -51.0
3577465         -5.0  111397.0    NaN    NaN    0.0    0.0    NaN    NaN
3577469        -10.0   62155.0    0.0    0.0    0.0    0.0    NaN    NaN
3577472         -5.0  345613.0    NaN    NaN  -11.0  -30.0    NaN    NaN
3577476        -10.0   81665.0    0.0    0.0    0.0    0.0    NaN    NaN
3577478         -5.0  109718.0    NaN    NaN   14.0  -20.0    NaN    NaN
3577486         -5.0  599833.0    NaN    NaN    0.0    0.0    NaN    NaN
3577495         -5.0   56061.0    0.0    0.0    0.0    0.0    NaN    NaN
3577499         -5.0   89753.0    0.0    0.0    0.0    0.0    NaN    NaN
3577501         -5.0   59763.0    0.0    0.0    0.0    0.0    NaN    NaN
3577506          0.0   82599.0    0.0    0.0    0.0    0.0    NaN    NaN
3577509         -5.0  253305.0    0.0    0.0    0.0  -30.0    NaN    NaN
3577521        -15.0  145955.0    0.0    0.0    0.0    0.0    NaN    NaN
3577526         -5.0  172059.0    NaN    NaN    1.0   -5.0    NaN    NaN
3577529        -20.0  632381.0    NaN    NaN   -1.0  -36.0    NaN    NaN
3577531         -5.0   55528.0    0.0    0.0    0.0   -7.0    NaN    NaN
3577534        -45.0  339406.0    NaN    NaN  -10.0 -100.0    NaN    NaN

               id_09  id_10  ...                    id_31 id_32      id_33  \
TransactionID                ...
2987004          NaN    NaN  ...      samsung browser 6.2  32.0  2220x1080
2987008          NaN    NaN  ...       mobile safari 11.0  32.0   1334x750
2987010          0.0    0.0  ...              chrome 62.0   NaN        NaN
2987011          NaN    NaN  ...              chrome 62.0   NaN        NaN
2987016          0.0    0.0  ...              chrome 62.0  24.0   1280x800
2987017          3.0    0.0  ...              chrome 62.0  24.0   1366x768
2987022          NaN    NaN  ...                      NaN   NaN        NaN
2987038          0.0    0.0  ...              chrome 62.0  32.0  1920x1080
2987040          0.0    0.0  ...              chrome 62.0   NaN        NaN
2987048          NaN    NaN  ...              chrome 62.0   NaN        NaN
2987049          NaN    NaN  ...              chrome 62.0   NaN        NaN
2987057          NaN    NaN  ...  chrome 62.0 for android  32.0  1920x1080
2987066          0.0    0.0  ...              chrome 62.0  24.0  1680x1050
2987069          0.0    0.0  ...              chrome 62.0  32.0  1920x1080
2987070          NaN    NaN  ...       mobile safari 11.0  32.0   1136x640
2987072          NaN    NaN  ...  chrome 62.0 for android   NaN        NaN
2987074          NaN    NaN  ...              chrome 62.0   NaN        NaN
2987084          NaN    NaN  ...              chrome 62.0   NaN        NaN
2987093          0.0    0.0  ...                edge 15.0  24.0        NaN
2987099          0.0    0.0  ...    mobile safari generic  32.0   1334x750
2987100          NaN    NaN  ...  chrome 62.0 for android  32.0  1920x1080
2987101          0.0    0.0  ...              chrome 49.0  24.0   1280x800
2987104          0.0    0.0  ...  chrome 62.0 for android  32.0  1920x1080
2987105          NaN    NaN  ...  chrome 62.0 for android   NaN        NaN
2987108          NaN    NaN  ...                      NaN   NaN        NaN
2987111          0.0    0.0  ...              chrome 62.0   NaN        NaN
2987114          0.0    0.0  ...              chrome 62.0   NaN        NaN
2987119          0.0    0.0  ...              chrome 61.0  24.0  5120x2880
2987121          2.0    0.0  ...              chrome 62.0  24.0  2880x1800
2987125          2.0    0.0  ...              chrome 62.0  24.0  2880x1800
...              ...    ...  ...                      ...   ...        ...
3577354          0.0    0.0  ...  chrome 66.0 for android   NaN        NaN
3577364          NaN    NaN  ...      samsung browser 6.4   NaN        NaN
3577365          0.0    0.0  ...             firefox 60.0   NaN        NaN
3577368          NaN    NaN  ...       mobile safari 11.0  32.0  2208x1242
3577384          0.0    0.0  ...       mobile safari 11.0  32.0  2436x1125
3577397          0.0    0.0  ...              chrome 66.0   NaN        NaN
3577410          NaN    NaN  ...       mobile safari 11.0  32.0   1334x750
3577418          NaN    NaN  ...  chrome 66.0 for android  24.0  1920x1080
3577437          NaN    NaN  ...              chrome 66.0   NaN        NaN
3577440          3.0    0.0  ...              chrome 66.0  24.0  2560x1600
3577442          0.0    0.0  ...      ie 11.0 for desktop  24.0   1024x768
3577445          0.0    0.0  ...              safari 11.0  24.0   1440x900
3577447          0.0    0.0  ...              chrome 66.0  24.0  1280x1024
3577451          NaN    NaN  ...                   google  32.0  2001x1125
3577465          NaN    NaN  ...              safari 11.0  24.0  2560x1440
3577469          0.0    0.0  ...              chrome 65.0   NaN        NaN
3577472          NaN    NaN  ...  chrome 66.0 for android   NaN        NaN
3577476          0.0    0.0  ...              chrome 65.0   NaN        NaN
3577478          0.0    0.0  ...              chrome 62.0   NaN        NaN
3577486          NaN    NaN  ...  chrome 67.0 for android   NaN        NaN
3577495          0.0    0.0  ...              chrome 66.0  24.0  1280x1024
3577499          0.0    0.0  ...             firefox 60.0   NaN        NaN
3577501          0.0    0.0  ...             firefox 60.0   NaN        NaN
3577506          0.0    0.0  ...      ie 11.0 for desktop  24.0   1600x900
3577509          0.0    0.0  ...  chrome 66.0 for android   NaN        NaN
3577521          0.0    0.0  ...  chrome 66.0 for android   NaN        NaN
3577526          NaN    NaN  ...  chrome 55.0 for android  32.0    855x480
3577529          NaN    NaN  ...  chrome 65.0 for android   NaN        NaN
3577531          0.0    0.0  ...              chrome 66.0  24.0  2560x1600
3577534          NaN    NaN  ...  chrome 66.0 for android   NaN        NaN

                        id_34 id_35 id_36  id_37  id_38  DeviceType  \
TransactionID
2987004        match_status:2     T     F      T      T      mobile
2987008        match_status:1     T     F      F      T      mobile
2987010                   NaN     F     F      T      T     desktop
2987011                   NaN     F     F      T      T     desktop
2987016        match_status:2     T     F      T      T     desktop
2987017        match_status:2     T     F      T      T     desktop
2987022                   NaN   NaN   NaN    NaN    NaN         NaN
2987038        match_status:2     T     F      T      T      mobile
2987040                   NaN     F     F      T      T     desktop
2987048                   NaN     F     F      T      T     desktop
2987049                   NaN     F     F      T      T     desktop
2987057        match_status:2     T     F      T      T      mobile
2987066        match_status:2     T     F      T      T     desktop
2987069        match_status:2     T     F      T      T     desktop
2987070        match_status:1     T     F      T      T      mobile
2987072                   NaN     F     F      T      T      mobile
2987074                   NaN     F     F      T      T     desktop
2987084                   NaN     F     F      T      T     desktop
2987093        match_status:2     T     F      T      T     desktop
2987099        match_status:2     T     F      T      F      mobile
2987100        match_status:2     T     F      T      T      mobile
2987101        match_status:2     T     T      T      T     desktop
2987104        match_status:2     T     F      T      T      mobile
2987105                   NaN     F     F      T      T      mobile
2987108                   NaN   NaN   NaN    NaN    NaN         NaN
2987111                   NaN     F     F      T      T     desktop
2987114                   NaN     F     F      T      T     desktop
2987119        match_status:2     T     F      T      T     desktop
2987121        match_status:2     T     F      T      T     desktop
2987125        match_status:2     T     F      T      T     desktop
...                       ...   ...   ...    ...    ...         ...
3577354                   NaN     F     F      T      F      mobile
3577364                   NaN     F     F      T      F      mobile
3577365                   NaN     F     F      T      F     desktop
3577368        match_status:1     T     F      F      T      mobile
3577384        match_status:1     T     F      T      T      mobile
3577397                   NaN     F     F      T      F     desktop
3577410        match_status:2     T     F      F      T      mobile
3577418        match_status:2     T     F      T      F      mobile
3577437                   NaN     F     F      T      F     desktop
3577440        match_status:2     T     F      T      F     desktop
3577442                   NaN     T     F      F      T     desktop
3577445        match_status:1     T     F      F      T     desktop
3577447        match_status:2     T     F      T      T     desktop
3577451        match_status:2     T     F      T      F      mobile
3577465        match_status:2     T     F      F      F     desktop
3577469                   NaN     F     F      T      F     desktop
3577472                   NaN     F     F      T      F      mobile
3577476                   NaN     F     F      T      F     desktop
3577478                   NaN     F     F      T      F     desktop
3577486                   NaN     F     F      T      F      mobile
3577495        match_status:2     T     F      T      T     desktop
3577499                   NaN     F     F      T      F     desktop
3577501                   NaN     F     F      T      F     desktop
3577506        match_status:2     T     T      T      T     desktop
3577509                   NaN     F     F      T      F      mobile
3577521                   NaN     F     F      T      F      mobile
3577526        match_status:2     T     F      T      F      mobile
3577529                   NaN     F     F      T      F      mobile
3577531        match_status:2     T     F      T      F     desktop
3577534                   NaN     F     F      T      F      mobile

                                       DeviceInfo
TransactionID
2987004             SAMSUNG SM-G892A Build/NRD90M
2987008                                iOS Device
2987010                                   Windows
2987011                                       NaN
2987016                                     MacOS
2987017                                   Windows
2987022                                       NaN
2987038                                       NaN
2987040                                   Windows
2987048                                   Windows
2987049                                   Windows
2987057                     SM-G930V Build/NRD90M
2987066                                   Windows
2987069                                       NaN
2987070                                iOS Device
2987072                   BLADE A602 Build/MRA58K
2987074                                   Windows
2987084                                   Windows
2987093                                   Windows
2987099                                iOS Device
2987100                     SM-G930V Build/NRD90M
2987101                                     MacOS
2987104                     SM-G930V Build/NRD90M
2987105            XT1635-02 Build/NPN26.118-22-2
2987108                                       NaN
2987111                                   Windows
2987114                                   Windows
2987119                                     MacOS
2987121                                     MacOS
2987125                                     MacOS
...                                           ...
3577354                     SM-G610F Build/NRD90M
3577364             SAMSUNG SM-J700M Build/MMB29K
3577365                                   Windows
3577368                                iOS Device
3577384                                iOS Device
3577397                                   Windows
3577410                                iOS Device
3577418                     SM-G930T Build/NRD90M
3577437                                   Windows
3577440                                     MacOS
3577442                               Trident/7.0
3577445                                     MacOS
3577447                                   Windows
3577451                                iOS Device
3577465                                     MacOS
3577469                                   Windows
3577472                     SM-G930F Build/NRD90M
3577476                                   Windows
3577478                                   Windows
3577486                      SM-G950F Build/R16NW
3577495                                   Windows
3577499                                   Windows
3577501                                   Windows
3577506                               Trident/7.0
3577509                     SM-G930F Build/NRD90M
3577521                   F3111 Build/33.3.A.1.97
3577526                       A574BL Build/NMF26F
3577529        Moto E (4) Plus Build/NMA26.42-152
3577531                                     MacOS
3577534               RNE-L03 Build/HUAWEIRNE-L03

[144233 rows x 40 columns]>

In [7]:
df1.isnull().sum(axis=0)

id_01              0
id_02           3361
id_03          77909
id_04          77909
id_05           7368
id_06           7368
id_07         139078
id_08         139078
id_09          69307
id_10          69307
id_11           3255
id_12              0
id_13          16913
id_14          64189
id_15           3248
id_16          14893
id_17           4864
id_18          99120
id_19           4915
id_20           4972
id_21         139074
id_22         139064
id_23         139064
id_24         139486
id_25         139101
id_26         139070
id_27         139064
id_28           3255
id_29           3255
id_30          66668
id_31           3951
id_32          66647
id_33          70944
id_34          66428
id_35           3248
id_36           3248
id_37           3248
id_38           3248
DeviceType      3423
DeviceInfo     25567
dtype: int64

In [8]:
df1.shape

(144233, 40)

In [9]:
df2.head

<bound method NDFrame.head of                isFraud  TransactionDT  TransactionAmt ProductCD  card1  card2  \
TransactionID
2987000              0          86400          68.500         W  13926    NaN
2987001              0          86401          29.000         W   2755  404.0
2987002              0          86469          59.000         W   4663  490.0
2987003              0          86499          50.000         W  18132  567.0
2987004              0          86506          50.000         H   4497  514.0
2987005              0          86510          49.000         W   5937  555.0
2987006              0          86522         159.000         W  12308  360.0
2987007              0          86529         422.500         W  12695  490.0
2987008              0          86535          15.000         H   2803  100.0
2987009              0          86536         117.000         W  17399  111.0
2987010              0          86549          75.887         C  16496  352.0
2987011              0          86555          16.495         C   4461  375.0
2987012              0          86564          50.000         W   3786  418.0
2987013              0          86585          40.000         W  12866  303.0
2987014              0          86596          10.500         W  11839  490.0
2987015              0          86618          57.950         W   7055  555.0
2987016              0          86620          30.000         H   1790  555.0
2987017              0          86668         100.000         H  11492  111.0
2987018              0          86725          47.950         W   4663  490.0
2987019              0          86730         186.000         W   7005  111.0
2987020              0          86761          39.000         W   7875  314.0
2987021              0          86769         159.950         W  11401  543.0
2987022              0          86786          50.000         H   1724  583.0
2987023              0          86808         107.950         W   2392  360.0
2987024              0          86821          73.950         W  10112  360.0
2987025              0          86944         107.950         W  15385  111.0
2987026              0          86945         184.000         W  17868  148.0
2987027              0          86972          47.950         W  11307  321.0
2987028              0          86973          20.000         W   8431  269.0
2987029              0          86979          36.990         W  12932  361.0
...                ...            ...             ...       ...    ...    ...
3577510              0       15810518          24.500         W   9500  321.0
3577511              0       15810549         130.950         W  12059  555.0
3577512              0       15810563         764.000         W  16873  343.0
3577513              0       15810575         107.950         W   2198  555.0
3577514              0       15810578         159.950         W   2487  555.0
3577515              0       15810589         108.500         W   4219  321.0
3577516              0       15810592         760.760         W  17188  321.0
3577517              0       15810626         764.000         W  16873  343.0
3577518              0       15810760          49.000         W  11204  298.0
3577519              0       15810774        1659.950         W  18018  452.0
3577520              0       15810785          93.000         W  17150  292.0
3577521              0       15810802          48.877         C  12019  305.0
3577522              0       15810823          54.500         W   3166  559.0
3577523              0       15810833          58.950         W  13076  456.0
3577524              0       15810836          75.000         W   7826  481.0
3577525              0       15810866          57.950         W  11942  570.0
3577526              1       15810876         250.000         R   1214  174.0
3577527              0       15810883         189.950         W   6453  555.0
3577528              0       15810907         279.950         W  15066  170.0
3577529              0       15810912          73.838         C   5096  555.0
3577530              0       15810926         400.780         W  15066  170.0
3577531              0       15810935         400.000         R   6019  583.0
3577532              0       15811007         204.970         W  12037  595.0
3577533              0       15811029         107.950         W  13071  321.0
3577534              0       15811030          67.505         C   5812  408.0
3577535              0       15811047          49.000         W   6550    NaN
3577536              0       15811049          39.500         W  10444  225.0
3577537              0       15811079          30.950         W  12037  595.0
3577538              0       15811088         117.000         W   7826  481.0
3577539              0       15811131         279.950         W  15066  170.0

               card3       card4  card5   card6  ...  V330  V331  V332  V333  \
TransactionID                                    ...
2987000        150.0    discover  142.0  credit  ...   NaN   NaN   NaN   NaN
2987001        150.0  mastercard  102.0  credit  ...   NaN   NaN   NaN   NaN
2987002        150.0        visa  166.0   debit  ...   NaN   NaN   NaN   NaN
2987003        150.0  mastercard  117.0   debit  ...   NaN   NaN   NaN   NaN
2987004        150.0  mastercard  102.0  credit  ...   0.0   0.0   0.0   0.0
2987005        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
2987006        150.0        visa  166.0   debit  ...   NaN   NaN   NaN   NaN
2987007        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
2987008        150.0        visa  226.0   debit  ...   0.0   0.0   0.0   0.0
2987009        150.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
2987010        117.0  mastercard  134.0  credit  ...   NaN   NaN   NaN   NaN
2987011        185.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
2987012        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
2987013        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
2987014        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
2987015        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
2987016        150.0        visa  226.0   debit  ...   0.0   0.0   0.0   0.0
2987017        150.0  mastercard  219.0  credit  ...   0.0   0.0   0.0   0.0
2987018        150.0        visa  166.0   debit  ...   NaN   NaN   NaN   NaN
2987019        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
2987020        150.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
2987021        150.0  mastercard  117.0   debit  ...   NaN   NaN   NaN   NaN
2987022        150.0        visa  226.0  credit  ...   0.0   0.0   0.0   0.0
2987023        150.0  mastercard  166.0   debit  ...   NaN   NaN   NaN   NaN
2987024        150.0        visa  166.0   debit  ...   NaN   NaN   NaN   NaN
2987025        150.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
2987026        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
2987027        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
2987028        150.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
2987029        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
...              ...         ...    ...     ...  ...   ...   ...   ...   ...
3577510        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577511        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577512        150.0        visa  226.0  credit  ...   NaN   NaN   NaN   NaN
3577513        150.0        visa  166.0   debit  ...   NaN   NaN   NaN   NaN
3577514        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577515        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577516        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577517        150.0        visa  226.0  credit  ...   NaN   NaN   NaN   NaN
3577518        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577519        150.0  mastercard  117.0   debit  ...   NaN   NaN   NaN   NaN
3577520        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577521        106.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
3577522        150.0        visa  166.0   debit  ...   NaN   NaN   NaN   NaN
3577523        150.0  mastercard  117.0   debit  ...   NaN   NaN   NaN   NaN
3577524        150.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
3577525        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577526        150.0        visa  226.0  credit  ...   0.0   0.0   0.0   0.0
3577527        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577528        150.0  mastercard  102.0  credit  ...   NaN   NaN   NaN   NaN
3577529        185.0  mastercard  137.0  credit  ...   NaN   NaN   NaN   NaN
3577530        150.0  mastercard  102.0  credit  ...   NaN   NaN   NaN   NaN
3577531        150.0        visa  226.0  credit  ...   0.0   0.0   0.0   0.0
3577532        150.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
3577533        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577534        185.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
3577535        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577536        150.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
3577537        150.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
3577538        150.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
3577539        150.0  mastercard  102.0  credit  ...   NaN   NaN   NaN   NaN

              V334 V335  V336  V337  V338  V339
TransactionID
2987000        NaN  NaN   NaN   NaN   NaN   NaN
2987001        NaN  NaN   NaN   NaN   NaN   NaN
2987002        NaN  NaN   NaN   NaN   NaN   NaN
2987003        NaN  NaN   NaN   NaN   NaN   NaN
2987004        0.0  0.0   0.0   0.0   0.0   0.0
2987005        NaN  NaN   NaN   NaN   NaN   NaN
2987006        NaN  NaN   NaN   NaN   NaN   NaN
2987007        NaN  NaN   NaN   NaN   NaN   NaN
2987008        0.0  0.0   0.0   0.0   0.0   0.0
2987009        NaN  NaN   NaN   NaN   NaN   NaN
2987010        NaN  NaN   NaN   NaN   NaN   NaN
2987011        NaN  NaN   NaN   NaN   NaN   NaN
2987012        NaN  NaN   NaN   NaN   NaN   NaN
2987013        NaN  NaN   NaN   NaN   NaN   NaN
2987014        NaN  NaN   NaN   NaN   NaN   NaN
2987015        NaN  NaN   NaN   NaN   NaN   NaN
2987016        0.0  0.0   0.0   0.0   0.0   0.0
2987017        0.0  0.0   0.0   0.0   0.0   0.0
2987018        NaN  NaN   NaN   NaN   NaN   NaN
2987019        NaN  NaN   NaN   NaN   NaN   NaN
2987020        NaN  NaN   NaN   NaN   NaN   NaN
2987021        NaN  NaN   NaN   NaN   NaN   NaN
2987022        0.0  0.0   0.0   0.0   0.0   0.0
2987023        NaN  NaN   NaN   NaN   NaN   NaN
2987024        NaN  NaN   NaN   NaN   NaN   NaN
2987025        NaN  NaN   NaN   NaN   NaN   NaN
2987026        NaN  NaN   NaN   NaN   NaN   NaN
2987027        NaN  NaN   NaN   NaN   NaN   NaN
2987028        NaN  NaN   NaN   NaN   NaN   NaN
2987029        NaN  NaN   NaN   NaN   NaN   NaN
...            ...  ...   ...   ...   ...   ...
3577510        NaN  NaN   NaN   NaN   NaN   NaN
3577511        NaN  NaN   NaN   NaN   NaN   NaN
3577512        NaN  NaN   NaN   NaN   NaN   NaN
3577513        NaN  NaN   NaN   NaN   NaN   NaN
3577514        NaN  NaN   NaN   NaN   NaN   NaN
3577515        NaN  NaN   NaN   NaN   NaN   NaN
3577516        NaN  NaN   NaN   NaN   NaN   NaN
3577517        NaN  NaN   NaN   NaN   NaN   NaN
3577518        NaN  NaN   NaN   NaN   NaN   NaN
3577519        NaN  NaN   NaN   NaN   NaN   NaN
3577520        NaN  NaN   NaN   NaN   NaN   NaN
3577521        NaN  NaN   NaN   NaN   NaN   NaN
3577522        NaN  NaN   NaN   NaN   NaN   NaN
3577523        NaN  NaN   NaN   NaN   NaN   NaN
3577524        NaN  NaN   NaN   NaN   NaN   NaN
3577525        NaN  NaN   NaN   NaN   NaN   NaN
3577526        0.0  0.0   0.0   0.0   0.0   0.0
3577527        NaN  NaN   NaN   NaN   NaN   NaN
3577528        NaN  NaN   NaN   NaN   NaN   NaN
3577529        NaN  NaN   NaN   NaN   NaN   NaN
3577530        NaN  NaN   NaN   NaN   NaN   NaN
3577531        0.0  0.0   0.0   0.0   0.0   0.0
3577532        NaN  NaN   NaN   NaN   NaN   NaN
3577533        NaN  NaN   NaN   NaN   NaN   NaN
3577534        NaN  NaN   NaN   NaN   NaN   NaN
3577535        NaN  NaN   NaN   NaN   NaN   NaN
3577536        NaN  NaN   NaN   NaN   NaN   NaN
3577537        NaN  NaN   NaN   NaN   NaN   NaN
3577538        NaN  NaN   NaN   NaN   NaN   NaN
3577539        NaN  NaN   NaN   NaN   NaN   NaN

[590540 rows x 393 columns]>

In [10]:
df2.info

<bound method DataFrame.info of                isFraud  TransactionDT  TransactionAmt ProductCD  card1  card2  \
TransactionID
2987000              0          86400          68.500         W  13926    NaN
2987001              0          86401          29.000         W   2755  404.0
2987002              0          86469          59.000         W   4663  490.0
2987003              0          86499          50.000         W  18132  567.0
2987004              0          86506          50.000         H   4497  514.0
2987005              0          86510          49.000         W   5937  555.0
2987006              0          86522         159.000         W  12308  360.0
2987007              0          86529         422.500         W  12695  490.0
2987008              0          86535          15.000         H   2803  100.0
2987009              0          86536         117.000         W  17399  111.0
2987010              0          86549          75.887         C  16496  352.0
2987011              0          86555          16.495         C   4461  375.0
2987012              0          86564          50.000         W   3786  418.0
2987013              0          86585          40.000         W  12866  303.0
2987014              0          86596          10.500         W  11839  490.0
2987015              0          86618          57.950         W   7055  555.0
2987016              0          86620          30.000         H   1790  555.0
2987017              0          86668         100.000         H  11492  111.0
2987018              0          86725          47.950         W   4663  490.0
2987019              0          86730         186.000         W   7005  111.0
2987020              0          86761          39.000         W   7875  314.0
2987021              0          86769         159.950         W  11401  543.0
2987022              0          86786          50.000         H   1724  583.0
2987023              0          86808         107.950         W   2392  360.0
2987024              0          86821          73.950         W  10112  360.0
2987025              0          86944         107.950         W  15385  111.0
2987026              0          86945         184.000         W  17868  148.0
2987027              0          86972          47.950         W  11307  321.0
2987028              0          86973          20.000         W   8431  269.0
2987029              0          86979          36.990         W  12932  361.0
...                ...            ...             ...       ...    ...    ...
3577510              0       15810518          24.500         W   9500  321.0
3577511              0       15810549         130.950         W  12059  555.0
3577512              0       15810563         764.000         W  16873  343.0
3577513              0       15810575         107.950         W   2198  555.0
3577514              0       15810578         159.950         W   2487  555.0
3577515              0       15810589         108.500         W   4219  321.0
3577516              0       15810592         760.760         W  17188  321.0
3577517              0       15810626         764.000         W  16873  343.0
3577518              0       15810760          49.000         W  11204  298.0
3577519              0       15810774        1659.950         W  18018  452.0
3577520              0       15810785          93.000         W  17150  292.0
3577521              0       15810802          48.877         C  12019  305.0
3577522              0       15810823          54.500         W   3166  559.0
3577523              0       15810833          58.950         W  13076  456.0
3577524              0       15810836          75.000         W   7826  481.0
3577525              0       15810866          57.950         W  11942  570.0
3577526              1       15810876         250.000         R   1214  174.0
3577527              0       15810883         189.950         W   6453  555.0
3577528              0       15810907         279.950         W  15066  170.0
3577529              0       15810912          73.838         C   5096  555.0
3577530              0       15810926         400.780         W  15066  170.0
3577531              0       15810935         400.000         R   6019  583.0
3577532              0       15811007         204.970         W  12037  595.0
3577533              0       15811029         107.950         W  13071  321.0
3577534              0       15811030          67.505         C   5812  408.0
3577535              0       15811047          49.000         W   6550    NaN
3577536              0       15811049          39.500         W  10444  225.0
3577537              0       15811079          30.950         W  12037  595.0
3577538              0       15811088         117.000         W   7826  481.0
3577539              0       15811131         279.950         W  15066  170.0

               card3       card4  card5   card6  ...  V330  V331  V332  V333  \
TransactionID                                    ...
2987000        150.0    discover  142.0  credit  ...   NaN   NaN   NaN   NaN
2987001        150.0  mastercard  102.0  credit  ...   NaN   NaN   NaN   NaN
2987002        150.0        visa  166.0   debit  ...   NaN   NaN   NaN   NaN
2987003        150.0  mastercard  117.0   debit  ...   NaN   NaN   NaN   NaN
2987004        150.0  mastercard  102.0  credit  ...   0.0   0.0   0.0   0.0
2987005        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
2987006        150.0        visa  166.0   debit  ...   NaN   NaN   NaN   NaN
2987007        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
2987008        150.0        visa  226.0   debit  ...   0.0   0.0   0.0   0.0
2987009        150.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
2987010        117.0  mastercard  134.0  credit  ...   NaN   NaN   NaN   NaN
2987011        185.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
2987012        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
2987013        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
2987014        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
2987015        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
2987016        150.0        visa  226.0   debit  ...   0.0   0.0   0.0   0.0
2987017        150.0  mastercard  219.0  credit  ...   0.0   0.0   0.0   0.0
2987018        150.0        visa  166.0   debit  ...   NaN   NaN   NaN   NaN
2987019        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
2987020        150.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
2987021        150.0  mastercard  117.0   debit  ...   NaN   NaN   NaN   NaN
2987022        150.0        visa  226.0  credit  ...   0.0   0.0   0.0   0.0
2987023        150.0  mastercard  166.0   debit  ...   NaN   NaN   NaN   NaN
2987024        150.0        visa  166.0   debit  ...   NaN   NaN   NaN   NaN
2987025        150.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
2987026        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
2987027        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
2987028        150.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
2987029        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
...              ...         ...    ...     ...  ...   ...   ...   ...   ...
3577510        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577511        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577512        150.0        visa  226.0  credit  ...   NaN   NaN   NaN   NaN
3577513        150.0        visa  166.0   debit  ...   NaN   NaN   NaN   NaN
3577514        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577515        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577516        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577517        150.0        visa  226.0  credit  ...   NaN   NaN   NaN   NaN
3577518        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577519        150.0  mastercard  117.0   debit  ...   NaN   NaN   NaN   NaN
3577520        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577521        106.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
3577522        150.0        visa  166.0   debit  ...   NaN   NaN   NaN   NaN
3577523        150.0  mastercard  117.0   debit  ...   NaN   NaN   NaN   NaN
3577524        150.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
3577525        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577526        150.0        visa  226.0  credit  ...   0.0   0.0   0.0   0.0
3577527        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577528        150.0  mastercard  102.0  credit  ...   NaN   NaN   NaN   NaN
3577529        185.0  mastercard  137.0  credit  ...   NaN   NaN   NaN   NaN
3577530        150.0  mastercard  102.0  credit  ...   NaN   NaN   NaN   NaN
3577531        150.0        visa  226.0  credit  ...   0.0   0.0   0.0   0.0
3577532        150.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
3577533        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577534        185.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
3577535        150.0        visa  226.0   debit  ...   NaN   NaN   NaN   NaN
3577536        150.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
3577537        150.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
3577538        150.0  mastercard  224.0   debit  ...   NaN   NaN   NaN   NaN
3577539        150.0  mastercard  102.0  credit  ...   NaN   NaN   NaN   NaN

              V334 V335  V336  V337  V338  V339
TransactionID
2987000        NaN  NaN   NaN   NaN   NaN   NaN
2987001        NaN  NaN   NaN   NaN   NaN   NaN
2987002        NaN  NaN   NaN   NaN   NaN   NaN
2987003        NaN  NaN   NaN   NaN   NaN   NaN
2987004        0.0  0.0   0.0   0.0   0.0   0.0
2987005        NaN  NaN   NaN   NaN   NaN   NaN
2987006        NaN  NaN   NaN   NaN   NaN   NaN
2987007        NaN  NaN   NaN   NaN   NaN   NaN
2987008        0.0  0.0   0.0   0.0   0.0   0.0
2987009        NaN  NaN   NaN   NaN   NaN   NaN
2987010        NaN  NaN   NaN   NaN   NaN   NaN
2987011        NaN  NaN   NaN   NaN   NaN   NaN
2987012        NaN  NaN   NaN   NaN   NaN   NaN
2987013        NaN  NaN   NaN   NaN   NaN   NaN
2987014        NaN  NaN   NaN   NaN   NaN   NaN
2987015        NaN  NaN   NaN   NaN   NaN   NaN
2987016        0.0  0.0   0.0   0.0   0.0   0.0
2987017        0.0  0.0   0.0   0.0   0.0   0.0
2987018        NaN  NaN   NaN   NaN   NaN   NaN
2987019        NaN  NaN   NaN   NaN   NaN   NaN
2987020        NaN  NaN   NaN   NaN   NaN   NaN
2987021        NaN  NaN   NaN   NaN   NaN   NaN
2987022        0.0  0.0   0.0   0.0   0.0   0.0
2987023        NaN  NaN   NaN   NaN   NaN   NaN
2987024        NaN  NaN   NaN   NaN   NaN   NaN
2987025        NaN  NaN   NaN   NaN   NaN   NaN
2987026        NaN  NaN   NaN   NaN   NaN   NaN
2987027        NaN  NaN   NaN   NaN   NaN   NaN
2987028        NaN  NaN   NaN   NaN   NaN   NaN
2987029        NaN  NaN   NaN   NaN   NaN   NaN
...            ...  ...   ...   ...   ...   ...
3577510        NaN  NaN   NaN   NaN   NaN   NaN
3577511        NaN  NaN   NaN   NaN   NaN   NaN
3577512        NaN  NaN   NaN   NaN   NaN   NaN
3577513        NaN  NaN   NaN   NaN   NaN   NaN
3577514        NaN  NaN   NaN   NaN   NaN   NaN
3577515        NaN  NaN   NaN   NaN   NaN   NaN
3577516        NaN  NaN   NaN   NaN   NaN   NaN
3577517        NaN  NaN   NaN   NaN   NaN   NaN
3577518        NaN  NaN   NaN   NaN   NaN   NaN
3577519        NaN  NaN   NaN   NaN   NaN   NaN
3577520        NaN  NaN   NaN   NaN   NaN   NaN
3577521        NaN  NaN   NaN   NaN   NaN   NaN
3577522        NaN  NaN   NaN   NaN   NaN   NaN
3577523        NaN  NaN   NaN   NaN   NaN   NaN
3577524        NaN  NaN   NaN   NaN   NaN   NaN
3577525        NaN  NaN   NaN   NaN   NaN   NaN
3577526        0.0  0.0   0.0   0.0   0.0   0.0
3577527        NaN  NaN   NaN   NaN   NaN   NaN
3577528        NaN  NaN   NaN   NaN   NaN   NaN
3577529        NaN  NaN   NaN   NaN   NaN   NaN
3577530        NaN  NaN   NaN   NaN   NaN   NaN
3577531        0.0  0.0   0.0   0.0   0.0   0.0
3577532        NaN  NaN   NaN   NaN   NaN   NaN
3577533        NaN  NaN   NaN   NaN   NaN   NaN
3577534        NaN  NaN   NaN   NaN   NaN   NaN
3577535        NaN  NaN   NaN   NaN   NaN   NaN
3577536        NaN  NaN   NaN   NaN   NaN   NaN
3577537        NaN  NaN   NaN   NaN   NaN   NaN
3577538        NaN  NaN   NaN   NaN   NaN   NaN
3577539        NaN  NaN   NaN   NaN   NaN   NaN

[590540 rows x 393 columns]>

In [11]:
df2.isnull().sum(axis=0)

isFraud                0
TransactionDT          0
TransactionAmt         0
ProductCD              0
card1                  0
card2               8933
card3               1565
card4               1577
card5               4259
card6               1571
addr1              65706
addr2              65706
dist1             352271
dist2             552913
P_emaildomain      94456
R_emaildomain     453249
C1                     0
C2                     0
C3                     0
C4                     0
C5                     0
C6                     0
C7                     0
C8                     0
C9                     0
C10                    0
C11                    0
C12                    0
C13                    0
C14                    0
                   ...
V310                  12
V311                  12
V312                  12
V313                1269
V314                1269
V315                1269
V316                  12
V317                  12
V318                  12
V319                  12
V320                  12
V321                  12
V322              508189
V323              508189
V324              508189
V325              508189
V326              508189
V327              508189
V328              508189
V329              508189
V330              508189
V331              508189
V332              508189
V333              508189
V334              508189
V335              508189
V336              508189
V337              508189
V338              508189
V339              508189
Length: 393, dtype: int64

In [12]:
df2.shape

(590540, 393)

In [13]:
df1i = df1.index

In [14]:
df2i = df2.index

In [15]:
df1i.is_unique

True

In [16]:
df2i.is_unique

True

In [17]:
df1[~df1.index.isin(df2.index)]

Empty DataFrame
Columns: [id_01, id_02, id_03, id_04, id_05, id_06, id_07, id_08, id_09, id_10, id_11, id_12, id_13, id_14, id_15, id_16, id_17, id_18, id_19, id_20, id_21, id_22, id_23, id_24, id_25, id_26, id_27, id_28, id_29, id_30, id_31, id_32, id_33, id_34, id_35, id_36, id_37, id_38, DeviceType, DeviceInfo]
Index: []

[0 rows x 40 columns]

In [32]:
df2[~df2.index.isin(df1.index)].shape

(446307, 393)

In [31]:
df1.loc[2987001]

KeyError: 2987001